@if (ContentBefore is not null && CmJsInterop is not null && Config is not null && Commands is not null) {
    @ContentBefore((Commands, Config, State))
}

<div id=@Id @attributes=@AdditionalAttributes></div>

@if (ContentAfter is not null && CmJsInterop is not null && Config is not null && Commands is not null) {
    @ContentAfter((Commands, Config, State))
}

<style>
    .cm-editor {
        resize: @ResizeStyle;
    }
</style>
