@if (ContentBefore is not null && CmJsInterop is not null && Config is not null && Commands is not null) {
    @ContentBefore((Commands, Config, State))
}

<div
    id="editorPlaceholder"
    style="width: 600px; height: 400px;"
>
    <div class="loading-animation">Loading...</div>
</div>

<div>
    <div
        id=@Id
        @attributes=@AdditionalAttributes
    >
    </div>
</div>

@if (ContentAfter is not null && CmJsInterop is not null && Config is not null && Commands is not null) {
    @ContentAfter((Commands, Config, State))
}
