::deep :root {
    --ink-internal-border-radius: 0.25rem;
    --ink-internal-block-background-color: #f0f0f0;
    --ink-internal-block-padding: 0.5rem;
}

::deep .cm-editor {
    overflow: auto;
    max-height: inherit;
}

::deep .cm-editor .cm-focused {
    outline: none;
}

::deep .cm-mention {
    color: cornflowerblue;
    font-weight: bold;
}

::deep .cm-mention-detail {
    padding-left: .5em;
    padding-right: .5em;
    margin-left: .25em;
    margin-right: .25em;
    border: 1px solid #ccc;
    border-radius: 3px;
}

::deep .cm-blockquote {
    /* background-color: #f0f0f0; */
    border-left: 0.25rem solid currentColor;
    padding: 0 0.5rem;
}

::deep .cm-blockquote .cm-blockquote-open {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding-top: 0.5rem;
}

::deep .cm-blockquote .cm-blockquote-close {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding-bottom: 0.5rem;
}
