@if (ContentBefore is not null && CmJsInterop is not null && Config is not null) {
    @ContentBefore((CmJsInterop, Config, State))
}

<div id=@Id @attributes=@AdditionalAttributes></div>

@if (ContentAfter is not null && CmJsInterop is not null && Config is not null) {
    @ContentAfter((CmJsInterop, Config, State))
}

<style>
    .cm-editor {
        resize: @ResizeStyle;
        overflow: auto;
        max-height: inherit;
    }
</style>
