@if (ContentBefore is not null && CmJsInterop is not null && Config is not null && CommandDispatcher is not null) {
    @ContentBefore((CommandDispatcher, Config, State))
}
@if (!IsLoaded) {
    <div
        id=@LoadingDivId
        @attributes=@AdditionalAttributes
        class="editor-loading"
    >
        @for (var i = 0; i < (Doc?.Split("\n").Length ?? 10); i++) {
            var randomWidth = new Random().Next(20, 80);
            <div class="loading-animation" style=@($"width: {randomWidth}%")></div>
        }
    </div>
}

<div>
    <div
        id=@Id
        @attributes=@AdditionalAttributes
    >
    </div>
</div>
@if (ContentAfter is not null && CmJsInterop is not null && Config is not null && CommandDispatcher is not null) {
    @ContentAfter((CommandDispatcher, Config, State))
}
