<h1>Code Mirror 6 demo</h1>

<CodeMirror6Wrapper
    @bind-Text=@Text
/>
<hr />
Result:
<pre>@Text</pre>
<hr />

<CodeMirror6Wrapper
    @bind-Text=@Text2
/>
<hr />
Result:
<pre>@Text2</pre>
<hr />

<CodeMirror6Wrapper
    @bind-Text=@Text3
    PlaceholderText="Enter some text"
/>

@code {
    private const string code = @"## Title

```jsx
function Demo() {
  return <div>demo</div>
}
```

```bash
# Not dependent on uiw.
npm install @codemirror/lang-markdown --save
npm install @codemirror/language-data --save
```

[weisit ulr](https://uiwjs.github.io/react-codemirror/)

```go
package main
import ""fmt""
func main() {
  fmt.Println(""Hello, 世界"")
}
```
";
    private string? Text = code;
    private string? Text2 = "# Example 2";
    private string? Text3;
}