/* _content/GaelJ.BlazorCodeMirror6/CodeMirror6WrapperInternal.razor.rz.scp.css */
[b-xisrmijffq] .cm-editor {
    overflow: auto;
    height: inherit;
    max-height: inherit;
    max-width: 100%;
}

[b-xisrmijffq] .resize-none .cm-editor {
    resize: none;
}

[b-xisrmijffq] .resize-vertical .cm-editor {
    resize: vertical;
}

[b-xisrmijffq] .resize-horizontal .cm-editor {
    resize: horizontal;
}

[b-xisrmijffq] .resize-both .cm-editor {
    resize: both;
}

[b-xisrmijffq] .cm-editor.cm-focused {
    outline: none !important;
}

[b-xisrmijffq] .cm-mention {
    color: cornflowerblue;
    font-weight: bold;
}

[b-xisrmijffq] .cm-mention-detail {
    padding-left: .5em;
    padding-right: .5em;
    margin-left: .25em;
    margin-right: .25em;
    border: 1px solid #ccc;
    border-radius: 3px;
}

[b-xisrmijffq] .cm-md-link {
    color: cornflowerblue;
}

[b-xisrmijffq] .cm-md-link-detail {
    padding-left: .5em;
    padding-right: .5em;
    margin-left: .25em;
    margin-right: .25em;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-decoration: underline;
    color: cornflowerblue;
}

[b-xisrmijffq] .cm-blockquote {
    border-left: 0.25rem solid currentColor;
    padding: 0 0.5rem;
}

[b-xisrmijffq] .cm-blockquote .cm-blockquote-open {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding-top: 0.5rem;
}

[b-xisrmijffq] .cm-blockquote .cm-blockquote-close {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding-bottom: 0.5rem;
}

/* Placeholder styles */
.editor-loading[b-xisrmijffq] {
    overflow: auto;
    max-height: inherit;
    width: 100%;
    display: block;
    background-color: #2f2f2f;
    position: relative;
    overflow: hidden;
    padding: 15px;
}

/* Shimmer effect */
@keyframes shimmer-b-xisrmijffq {
    0% {
        background-position: -600px 0;
    }

    100% {
        background-position: 600px 0;
    }
}

/* Blurred lines */
[b-xisrmijffq] .loading-animation {
    height: 12px;
    margin: 8px 0;
    background: linear-gradient(to right, #eeeeee 8%, #ddddddab 18%, #eeeeee 33%);
    background-size: 800px 104px;
    animation: shimmer-b-xisrmijffq 1.5s infinite linear;
    border-radius: 4px;
}

/* html tables */
[b-xisrmijffq] .cm-line table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #2f2f2f;
    border-inline: 1px solid #2f2f2f;
    width: fit-content;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: #10101010;
}

[b-xisrmijffq] .cm-line table td, [b-xisrmijffq] .cm-line table th {
    border: 1px solid #2f2f2f;
    padding: 0.5rem;
}

[b-xisrmijffq] .cm-line table th {
    background-color: #2f2f2f80;
}

[b-xisrmijffq] .cm-line table tr:nth-child(even) {
    background-color: #7f7f7f30;
}

.cm-full-screen[b-xisrmijffq] {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    overflow: auto;
    width: 100vw;
    height: 100vh;
}
